.env
/node_modules
wordlists/ridiculous_default.txt
wordlists/medium_default.txt
wordlists/hard_default.txt
wordlists/easy_default.txt
wordlists/gpt_ridiculous.txt
wordlists/gpt_ridiculous2.txt
wordlists/gpt_ridiculous3.txt
wordlists/gpt_extra_ridiculous.txt
utils/config2.json
wordlists/easy_default_punc.txt
wordlists/gpt_extra_ridiculous_punc.txt
wordlists/hard_default_punc copy.txt
wordlists/hard_default_punc.txt
wordlists/ridiculous_default_punc.txt
wordlists/medium_default_punc.txt
/tokenimages
audio/easy.ogg
audio/foundword.ogg
audio/hard.ogg
audio/hiddeninfo.ogg
audio/intro.ogg
audio/mayorchoose.ogg
audio/medium.ogg
audio/oneminuteremaining.ogg
audio/outoftime.ogg
audio/outoftokens.ogg
audio/ridiculous.ogg
audio/easy2.ogg
audio/foundword2.ogg
audio/hard2.ogg
audio/hiddeninfo2.ogg
audio/intro2.ogg
audio/mayorchoose2.ogg
audio/medium2.ogg
audio/oneminuteremaining2.ogg
audio/outoftime2.ogg
audio/outoftokens2.ogg
audio/ridiculous2.ogg
